.navbar {
    position: relative;
    top: 76px;
    width: 103%;
    z-index: 3;
    background-color: #9faaf8 !important;
    font-family: 'Changa', sans-serif;
}

/* // Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    /* ... */
}

/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    /* ... */
}

/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    /* ... */
    .navbar {
        position: relative;
        top: 108px;
        width: 103%;
        height: 52px;
        z-index: 3;
        background-color: #9faaf8 !important;
        font-family: 'Changa', sans-serif;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    /* ... */
}

.navbartext {
    font-family: 'Changa', sans-serif;
    color: rgb(24, 108, 140) !important;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}

.btnNav {
    width: 100%;
    background-color: #d4e6ed;
    padding: 0rem 0rem;
    padding-right: 10px;
    color: rgb(103, 154, 173);
    font-weight: bold;
    line-height: 1.2;
    height: 31px;
    text-align: right;
    float: right;
    display: flex;
    justify-content: right;
}

/* // Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    /* ... */
}

/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    /* ... */
}

/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    /* ... */
    .btnNav {
        width: 143px;
        background-color: #d4e6ed;
        padding: 0rem 0rem;
        padding-right: 10px;
        color: rgb(103, 154, 173);
        font-weight: bold;
        line-height: 1.2;
        height: 31px;
        text-align: right;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    /* ... */
}

.btnBasket {
    position: absolute;
    z-index: 20;
    bottom: 20%;
    right: 15%;
}

.dropdown-menu {
    outline: 0;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
    text-align: right;
}

.logo {
    position: absolute;
    left: 2%;
    top: -82px;
    background: white;
    height: 142px;
    border-bottom-left-radius: 82px;
    border-bottom-right-radius: 82px;
}

@media (min-width: 576px) {
    .logo {
        position: absolute;
        left: 2%;
        top: -101px;
        background: white;
        height: 142px;
        border-bottom-left-radius: 82px;
        border-bottom-right-radius: 82px;
    }
}

@media (min-width: 992px) {
    .logo {
        height: 380%;
        left: 94%;
        top: -114px;
    }
}

@media (min-width: 1200px) {
    .logo {
        height: 380%;
        left: 97%;
        top: -114px;
    }
}

@media (min-width: 1468px) {
    .logo {
        height: 380%;
        left: 110%;
        top: -114px;
    }
}

@media (min-width: 2400px) {
    .logo {
        height: 380%;
        left: 145%;
        top: -114px;
    }
}

.title {
    display: none;
}

@media (min-width: 360px) {
    .title {
        display: block;
        font-family: 'Tajawal', sans-serif;
        font-size: 10px;
        color: rgb(255, 255, 255);
        line-height: 1.2;
        text-align: center;
        position: absolute;
        right: 5%;
        top: 35%;
        z-index: 22;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        opacity: 0.7;
    }
}

@media (min-width: 576px) {
    .title {
        font-size: 14px;
    }
}

/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {}

/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .title {
        font-family: 'Tajawal', sans-serif;
        font-size: 29.56px;
        color: rgb(255, 255, 255);
        line-height: 1.2;
        text-align: center;
        position: absolute;
        right: 18%;
        top: 46%;
        z-index: 22;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        opacity: 0.7;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}

.login {
    font-family: 'Tajawal', sans-serif;
    font-size: 12px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    position: absolute;
    right: 57px;
    top: 24.561px;
    z-index: 22;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    opacity: 0.7;
}

@media (min-width: 576px) {
    /* ... */
}

/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {}

/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    /* ... */
    .login {
        font-family: 'Tajawal', sans-serif;
        font-size: 29.56px;
        color: rgb(255, 255, 255);
        line-height: 1.2;
        text-align: center;
        position: absolute;
        left: 233px;
        right: inherit;
        top: 24.561px;
        z-index: 22;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        opacity: 0.7;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    /* ... */
}

.login:hover {
    color: #0056b3;
    text-decoration: none;
}

.register {
    font-family: 'Tajawal', sans-serif;
    font-size: 12px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    position: absolute;
    right: 10px;
    top: 24.561px;
    z-index: 22;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    opacity: 0.7;
}

@media (min-width: 576px) {
    /* ... */
}

/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    /* ... */
}

/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    /* ... */
    .register {
        font-family: 'Tajawal', sans-serif;
        font-size: 29.56px;
        color: rgb(255, 255, 255);
        line-height: 1.2;
        text-align: center;
        position: absolute;
        left: 123px;
        right: inherit;
        top: 24.561px;
        z-index: 22;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        opacity: 0.7;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    /* ... */
}

.register:hover {
    color: #0056b3;
    text-decoration: none;
}

.imgBack {
    background-image: url("headderbackground.png");
    height: 139px;
    margin-top: -3px;
    width: 103%;
}

.main {
    padding-top: 42px;
}

.item {
    height: 100px;
    max-height: 100px;
    position: relative;
}

/* // Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .item {
        height: 120px;
        max-height: 120px;
        position: relative;
    }
}

/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .item {
        height: 200px;
        max-height: 200px;
        position: relative;
    }
}

/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .item {
        height: 300px;
        max-height: 300px;
    }
}

.adImage {
    opacity: 0.95;
    position: relative;
    width: 103%;
    max-width: 100%;
    height: 135px;
    max-height: 118px;
    z-index: 1;
    margin-top: 2%;
    margin-bottom: 5%;
}

@media (min-width: 768px) {
    .adImage {
        opacity: 0.95;
        position: relative;
        width: 100%;
        max-width: 100%;
        height: 140px;
        max-height: 118px;
        z-index: 1;
        margin-top: 5%;
    }
}

@media (min-width: 992px) {
    .adImage {
        opacity: 0.95;
        position: relative;
        width: 100%;
        max-width: 100%;
        height: 140px;
        max-height: 118px;
        z-index: 1;
        margin-top: 2%;
        margin-bottom: 5%;
        ;
    }
}

@media (min-width: 1200px) {}

.adText {
    font-size: 38.56px;
    font-family: 'Tajawal', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.38);
    position: absolute;
    top: 34%;
    right: 14%;
    z-index: 2;
}

.mainText {
    font-size: 81.56px;
    font-family: 'Changa', sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    position: absolute;
    top: 30%;
    right: 30%;
    z-index: 2;
}

.paymentsLogos {
    position: relative;
    margin-top: 25px;
}

.productCard {
    width: 100%;
    height: 193px;
    position: relative;
    z-index: 1;
    border-radius: 20px;
    margin-bottom: 10%;
    cursor: pointer;
}

.searchCard {
    width: 100%;
    height: 400px;
    position: relative;
    z-index: 1;
    border-radius: 20px;
    margin-bottom: 10%;
}

.itemCard {
    width: 100%;
    height: 204px;
    position: relative;
    z-index: 1;
    border-radius: 20px;
    margin-bottom: 10%;
}

.price {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    opacity: 0.8;
    width: 70px;
    height: 50px;
}

.productImg {
    width: 70px;
    height: 66px;
    position: absolute;
    top: 32%;
    right: 7%;
}

@media (min-width: 992px) {
    .productImg {
        width: 140px;
        height: 129px;
        position: absolute;
        top: 13%;
        right: 3%;
    }
}

.itemImg {
    width: 45%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 5%;
}

.seperator {
    width: 1px;
    height: 134px;
    border: rgba(128, 128, 128, 0.452) solid 1px;
    position: absolute;
    right: 33%;
    top: 21%;
}

@media (min-width: 992px) {
    .seperator {
        width: 2px;
        height: 134px;
        border: rgba(128, 128, 128, 0.452) solid 1px;
        position: absolute;
        right: 44%;
        top: 21%;
    }
}

.seperator2 {
    width: 0.5px;
    height: 80%;
    border: rgba(128, 128, 128, 0.452) solid 1px;
    position: absolute;
    left: 34%;
}

.cardTitle {
    font-size: 23.56px;
    font-family: 'Changa', sans-serif;
    color: rgb(2, 76, 147);
    line-height: 1.2;
    margin: 7%;
    margin-top: 10%;
    padding-left: 16px;
}

@media (min-width:768px) {
    .cardTitle {
        font-size: 21.56px;
        font-family: 'Changa', sans-serif;
        color: rgb(2, 76, 147);
        line-height: 1.2;
        margin: 7%;
        margin-top: 10%;
        padding-left: 16px;
    }
}

@media (min-width:992px) {
    .cardTitle {
        font-size: 21.56px;
        font-family: 'Changa', sans-serif;
        color: rgb(2, 76, 147);
        line-height: 1.2;
        margin: 7%;
        margin-top: 16%;
        padding-left: 0px;
    }
}

.Title {
    font-size: 21.56px;
    font-family: 'Changa', sans-serif;
    color: rgb(2, 76, 147);
    line-height: 1.2;
    margin-top: 16%;
    float: right;
    margin-left: 55%;
}

.addtitle {
    font-size: 21.56px;
    font-family: 'Changa', sans-serif;
    color: rgb(2, 76, 147);
    line-height: 1.2;
    float: right;
    padding-left: 50%;
}

.addsubtitle {
    font-size: 17px;
    font-family: 'Changa', sans-serif;
    color: rgb(0, 33, 63);
    line-height: 1.2;
    float: right;
    padding-bottom: 20px
}

.cardDetails {
    font-size: 12px;
    font-family: 'Tajawal', sans-serif;
    color: rgb(114, 105, 105);
    line-height: 1.2;
    text-align: center;
    margin-right: 45%;
}

.size {
    font-size: 12px;
    font-family: 'Tajawal', sans-serif;
    color: rgb(61, 0, 141);
    line-height: 1.2;
    text-align: center;
    display: inline;
    float: right;
    padding-right: 10px;
}

.priceText {
    font-family: 'Tajawal', sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    vertical-align: 50%;
    padding-top: 5px;
    padding-right: 50px;
    z-index: 100;
    left: 19px;
    top: 2px;
    position: absolute;
}

.detailsText {
    font-size: 12px;
    font-family: 'Tajawal', sans-serif;
    color: rgb(114, 105, 105);
    line-height: 1.2;
    text-align: center;
}

.priceText2 {
    font-size: 12px;
    font-family: 'Tajawal', sans-serif;
    color: rgb(114, 105, 105);
    line-height: 1.2;
    display: inline;
    float: right;
    padding-right: 52px;
}

.details {
    margin-top: 0%;
    margin-left: 24px;
}

@media (min-width: 992px) {
    .details {
        margin-left: 0px;
    }
}

.mada {
    width: 40px;
    position: absolute;
    left: 8%;
    bottom: 4%;
}

.visa {
    width: 40px;
    position: absolute;
    left: 44%;
    bottom: 4%;
}

@media (min-width: 992px) {
    .visa {
        left: 37%;
    }
    .cash {
        left: 25%;
    }
}

.cash {
    position: absolute;
    left: 28%;
    bottom: -8px;
}

.cashAr {
    font-family: 'Tajawal', sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: center
}

.cashEn {
    font-family: 'Tajawal', sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: center
}

.blueBar {
    width: 103%;
    height: 37px;
    background: #0056b3;
    position: relative;
    cursor: pointer;
}

.backToTop {
    font-family: 'Changa', sans-serif;
    color: white;
    font-size: 14px;
    position: absolute;
    left: 31%;
    top: 26%;
}

@media (min-width:992px) {
    .backToTop {
        left: 47%;
    }
}

.backToTop:hover {
    color: #000000;
    text-decoration: none;
}

.footer {
    background-color: #84cbef;
    width: 103%;
    height: 100%;
    z-index: 6;
    position: relative;
}

.footerLogo {
    background-color: white;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.customerSupport {
    position: absolute;
    top: 10%;
    right: 24%;
}

.aboutUs {
    position: absolute;
    top: 10%;
    right: 40%;
}

.support {
    position: absolute;
    top: 10%;
    right: 56%;
}

.customerServices {
    font-family: 'Changa', sans-serif;
    color: white;
    font-size: 18.56px;
    font-weight: bold;
    line-height: 1.2;
    text-align: right;
}

.customerServi {
    font-family: 'Changa', sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    text-align: right;
    display: grid;
    padding-bottom: 10px;
}

.customerServi:hover {
    color: white;
    text-decoration: none;
}

.application {
    font-family: 'Changa', sans-serif;
    color: black;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    text-align: right;
    padding-top: 27px;
}

.icon_download {
    cursor: pointer;
    width: 130px !important;
    height: 45px;
    padding: 5px;
}

.Whats {
    font-family: 'Changa', sans-serif;
    color: white;
    font-size: 19px;
    font-weight: 500;
    line-height: 1.2;
    text-align: right;
    padding-top: 27px;
}

.contact {
    position: absolute;
    top: 18%;
    left: 6%;
}

.qrCode {
    /* padding-left: 30%; */
}

/*search box css start here*/

.search-sec {
    padding: 2rem;
}

.search-slt {
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius: 0;
}

.wrn-btn {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius: 0;
    top: 0px;
}

@media (min-width: 992px) {
    .search-sec {
        position: relative;
        top: -10px;
        background: rgba(26, 70, 104, 0.51);
    }
}

@media (max-width: 992px) {
    .search-sec {
        background: #1A4668;
    }
}

.main-text {
    padding-top: 10%;
    padding-bottom: 5%;
    color: #003063;
    font-family: 'Changa', sans-serif;
}

@media (min-width: 567px) {
    .main-text {
        padding-top: 5%;
    }
}

@media (min-width: 2000px) {
    .main-text {
        padding-top: 7%;
        padding-bottom: 1%;
    }
}

.no {
    font-size: 26px;
    position: absolute;
    top: 0%;
    left: 45%;
    color: darkred !important;
}

.fa-shopping-cart {
    font-size: 20px;
}

.cart {
    border-radius: 100%;
}

.carticon {
    height: 40px;
}